<ul class="nav nav-tabs" xmlns="">
  <li class="nav-item">
    <a class="nav-link" routerLink="home" role="tab" data-toggle="tab"><b>HOME</b></a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="item" role="tab" data-toggle="tab"><b>ITEM</b></a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="client" role="tab" data-toggle="tab"><b>CLIENT</b></a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="receipt" role="tab" data-toggle="tab"><b>RECEIPT</b></a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="appointment" role="tab" data-toggle="tab"><b>APPOINTMENT</b></a>
  </li>
</ul>
<router-outlet></router-outlet>
