tr:hover{
  background: rgba(12, 0, 223, 0.09);
}

.collumn {
  float: left;
  width: 50%;
  border-right: solid rgba(80, 120, 255, 0.06);
  padding:15px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}
